.inputval {
    display: flex;
    flex-wrap: wrap;
}

.input {
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    min-width: 30rem;
}

.todo-button {
    border-radius: 8px;
    background-color: #3E3E40;
    color: white;
    padding: 12px 20px;
}

.city {
    padding: 0%;
    margin: 0%;
    text-align: left
}

.description {
    border-left: 1px solid #ccc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hourly-button {
    background-color: #EE513E;
    border-radius: 4px;
    color: black;
    padding: 12px 20px;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 35rem;
}